@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Cothic Medium", "游ゴシック Medium", Yugothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* 横並び表示 */
.page-header {
  display: flex;
  justify-content: space-between;
}
/* 最大表示幅を設定 */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
/* 左上ロゴ */
.logo {
  width: 210px;
  margin-top: 14px;
}
/* ナビゲーション */
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase; /* すべて大文字 */
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}

/* HOME */
#home {
  background-image: url(../images/main-bg.jpg),
    linear-gradient(#c9ffbf, #ffafbd);
  min-height: 100vh;
  background-blend-mode: luminosity;
}
#home .page-title {
  text-transform: none;
}

.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button :hover {
  background: #0090aa;
}

/* 大きな背景 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* NEWS----------------------- */
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}

/* 横並びに設定 */
.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* 記事部分----------------------- */
article {
  width: 74%;
}
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.625rem;
  /* .post-infoとの絶対位置の調整 */
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}

/* サイドバー----------------------- */
aside {
  width: 22%;
}

/* フッター-------------------- */
footer {
  text-align: center;
  background: #432;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
